@mixin fonts-style($font-weight, $font-size, $font-style, $color) {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: $font-weight;
  font-size: $font-size;
  color: $color;
  font-style: $font-style;
}
