.header {
  max-width: $max-width;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 5px 50px;
  background: black;
  margin: 0 auto;

  &__section {
    display: flex;
  }

  &__logo-big {
    @include fonts-style ("Myriad", normal, 42px, normal, white);
  }

  &__logo-small {
    @include fonts-style ("Myriad", normal, 14px, normal, red);
  }

  &__separator {
    height: 80%;
    width: 2px;
    background: #424242;
    margin: 5px 20px;
  }

  &__links {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__link {
    @include fonts-style ("Anisette", normal, 14px, normal, #424242);
    display: block;
    transition: 1s color;
  }

  &__link:hover {
    color: #b8b8b8;
  }

  &__section_left .header__logo-small {
    text-align: right;
  }

  &__section_right .header__logo-small {
    text-align: left;
  }
}
